# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
venv_build/
.env

# PyInstaller output
Python_Tool/*/bin/
Python_Tool/*/build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
